<!DOCTYPE html>
<html lang="en" xmlns:c="http://www.w3.org/1999/XSL/Transform">

<head>
    <meta charset="ISO-8859-1">
    <title>My app</title>
</head>

<body>
<form th:method="POST" th:object="${person}" th:action="@{/person/new}">
    <br>
    <label for="name">Full name:</label>
    <input th:field="*{fullname}" type="text" id="name">
    <div style="color: red" th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}" ></div>
    <br>
    <label for="date-of-birth">Date of birth (dd/MM/yyyy):</label>
    <input th:field="*{date_of_birth}" type="text" id="date-of-birth">
    <div style="color: red" th:if="${#fields.hasErrors('date_of_birth')}" th:utext="#{typeMismatch.postForm.date}" ></div>
    <br>
    <input type="submit" value="Create new reader">
</form>
</body>

</html>